DATABASE_URL=postgresql://postgres:postgres@localhost:5432/cervo

PORT=8080
NODE_ENV=dev

SCRAPPING_BEE_API_KEY=your-scrapping-bee-api-key

EMBEDDINGGEMMA_URL=http://localhost:11434
GEMMA_URL=http://localhost:11434

X_OEMBED_URL=https://publish.twitter.com/oembed

API_KEY=your-api-key

BETTER_AUTH_SECRET=your-better-auth-secret-min-32-chars
BETTER_AUTH_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
